In [ ]:
import pandas as pd
df = pd.read_csv('Pidgin/alltopics.tsv',sep='\t')
len(df)
#df.to_csv('Pidgin/alltopics.tsv',sep='\t',index=False)

3991

In [ ]:
# get all the duplicated rows
dupl = df[df.duplicated(['text'],keep = False )]
#get the remaining rows that belong to MOST_POPULAR
restdf = df[~df.isin(dupl)].dropna()
mostpdf = restdf[restdf['class']=='MOST_POPULAR']
maindf = restdf[~restdf.isin(mostpdf)].dropna()
extra = [dupl, mostpdf]
dupl = pd.concat(extra)
dupl.to_csv('Pidgin/duplicates.tsv',sep='\t',index=False)
dupl

      Unnamed: 0  ...         class
2            2.0  ...       NIGERIA
3            3.0  ...       NIGERIA
5            5.0  ...       NIGERIA
7            7.0  ...       NIGERIA
8            8.0  ...       NIGERIA
...          ...  ...           ...
3987      4097.0  ...  MOST_POPULAR
3988      4098.0  ...  MOST_POPULAR
3989      4099.0  ...  MOST_POPULAR
3990      4100.0  ...  MOST_POPULAR
3982      4092.0  ...  MOST_POPULAR

[2326 rows x 3 columns]

In [ ]:
len(maindf)

1665

In [ ]:
maindf['class'].explode().value_counts()

ENTERTAINMENT    478
AFRICA           331
SPORT            318
NIGERIA          299
WORLD            239
Name: class, dtype: int64

In [ ]:
dupl['class'].explode().value_counts()

WORLD            680
AFRICA           561
NIGERIA          537
ENTERTAINMENT    346
SPORT            193
MOST_POPULAR       9
Name: class, dtype: int64

In [ ]:
maindf.drop('Unnamed: 0', axis=1, inplace=True)
maindf.to_csv('Pidgin/pidgin_topic.tsv',sep='\t',index=False)

In [ ]:
import pandas as pd
df = pd.read_csv('Pidgin/pidgin_topic.tsv',sep='\t')
len(df)

1665

In [ ]:
df["class"] = df["class"].str.lower()
df = df.rename(columns={"class":"label"})
df

                                                   text          label
0     Hanifa death in Kano: President Buhari join od...        nigeria
1     Imo state police arrest man wey allegedly plan...        nigeria
2     Buhari in Kaduna: Three takeaways from di pres...        nigeria
3     Surrogacy meaning: Wetin be Surrogacy and all ...        nigeria
4     EFCC arrest and arraign man wey allegedly spen...        nigeria
...                                                 ...            ...
1660    Nicki Minaj and Kenneth Petty don redi to marry  entertainment
1661  Ruggedman: Boys 'attack’ di rapper for London ...  entertainment
1662    Naira Marley new song 'Soapy' dey make pipo tok  entertainment
1663  BET Awards 2019: Burna Boy win Best Internatio...  entertainment
1664  Nigeria Police arrest musician for song wey ya...  entertainment

[1665 rows x 2 columns]

In [ ]:
df['label'].explode().value_counts()

"entertainment", "africa", "sport", "nigeria", "world"

entertainment    478
africa           331
sport            318
nigeria          299
world            239
Name: label, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd

def train_test_val_split(df, test_size=0.15, val_size=0.45):
    temp, test = train_test_split(df, test_size=test_size,stratify=df['label'],random_state=0)
    total_items_count = len(df.index)
    val_length = total_items_count * val_size
    new_val_propotion = val_length / len(temp.index) 
    train, val = train_test_split(temp, test_size=new_val_propotion,stratify=temp['label'],random_state=0)
    return train, test, val

train, test, val = train_test_val_split(df, test_size=0.2, val_size=0.1)
print(len(train),len(test),len(val))

1165 333 167

In [ ]:
train['label'].explode().value_counts()

entertainment    334
africa           232
sport            223
nigeria          209
world            167
Name: label, dtype: int64

In [ ]:
test['label'].explode().value_counts()

entertainment    96
africa           66
sport            63
nigeria          60
world            48
Name: label, dtype: int64

In [ ]:
val['label'].explode().value_counts()

entertainment    48
africa           33
sport            32
nigeria          30
world            24
Name: label, dtype: int64

In [ ]:
train.to_csv('Pidgin/train.tsv',sep='\t',index=False)
val.to_csv('Pidgin/dev.tsv',sep='\t',index=False)
test.to_csv('Pidgin/test.tsv',sep='\t',index=False)